name: Build and Deploy Bot

on:
  #   push:
  #     branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          # Aquí van tus datos de Workload Identity de Terraform
          workload_identity_provider: ${{ secrets.workload_identity_provider }}
          service_account: ${{ secrets.gcloud_service_account }}

      - name: SSH and Deploy
        run: |
          gcloud compute ssh ${{ secrets.gcloud_vm_name }} --zone ${{ secrets.gcloud_zone }} --command "
            # 1. Cargar el token guardado por el startup script
            source /etc/profile.d/bot_env.sh

            # 2. Bajar la nueva imagen (Repo público, no necesita login)
            docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}

            # 3. Limpiar contenedor anterior
            docker stop ${{ secrets.container_name }} || true
            docker rm ${{ secrets.container_name }} || true

            # 4. Limpiar imágenes viejas para ahorrar espacio (e2-micro)
            docker image prune -f

            # 5. Ejecutar con límites de memoria para no colgar la VM
            docker run -d --name ${{ secrets.container_name }} \
              --restart always \
              --memory='800m' \
              -e TELEGRAM_BOT_TOKEN=\$TELEGRAM_BOT_TOKEN \
              ghcr.io/${{ github.repository }}:${{ github.sha }}
          "
